.footer-links {
  margin: 5px;
}
.a11y-hide {
  position: absolute;
  height: 1px;
  width: 1px; 
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/** {
  outline: 1px dotted;
}*/
body {
  background-color: #000;
  /*background-image: none;*/
}
body,
:link,
:visited {
  color: #fff;
}
main a[href] {
  opacity: .95;
  display: inline-block;
  padding: .1em .25em;
  text-decoration: none;
}
main a[href]:hover,
main a[href]:focus {
  opacity: 1;
  background-color: rgba(255,255,255,.2);
}

